In [1]:
import pandas as pd

In [2]:
ds=pd.read_csv(r"C:\Users\CSC\Downloads\customer_churn.csv")

In [3]:
ds.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
ds.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [5]:
ds.drop(['customerID', 'gender', 'Partner', 'Dependents','PaperlessBilling',
       'PaymentMethod'],axis='columns',inplace=True)

In [6]:
ds.head()

,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,0,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,0,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,0,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,0,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,0,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [7]:
ds.shape

(7043, 15)

In [8]:
ds.sample(30)

,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
6644,0,61,Yes,Yes,Fiber optic,No,No,No,No,Yes,Yes,One year,96.50,5673.7,No
6721,0,49,Yes,Yes,DSL,No,Yes,No,Yes,Yes,Yes,Two year,79.30,3902.45,No
2911,0,1,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,73.50,73.5,Yes
3382,0,72,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,25.55,1867.7,No
6537,0,70,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,One year,115.65,7968.85,Yes
6212,0,15,No,No phone service,DSL,No,No,Yes,No,Yes,Yes,One year,50.75,688.2,No
5906,1,14,Yes,Yes,Fiber optic,No,Yes,No,No,No,No,Month-to-month,78.95,1101.85,Yes
5530,0,66,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,No,One year,92.15,6056.9,No
355,0,10,Yes,No,Fiber optic,No,No,No,No,No,Yes,Month-to-month,80.25,846,Yes
6236,1,33,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,Yes,Month-to-month,100.60,3270.25,No
5582,0,48,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,24.00,1183.05,No
4570,0,7,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,18.95,130.55,No
5893,0,12,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,24.00,269.65,No
6463,0,59,Yes,Yes,DSL,Yes,No,No,Yes,No,Yes,One year,69.10,4096.9,No
1393,0,1,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,20.35,20.35,No
5950,0,1,No,No phone service,DSL,No,No,No,No,No,No,Month-to-month,24.70,24.7,No
3687,0,19,Yes,No,Fiber optic,No,Yes,No,Yes,Yes,Yes,One year,100.00,1888.65,Yes
869,0,3,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,26.40,121.25,No
2708,1,13,Yes,Yes,Fiber optic,Yes,No,No,No,Yes,Yes,Month-to-month,100.80,1308.1,Yes
5200,0,70,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,106.50,7397,No
6759,1,51,Yes,Yes,Fiber optic,Yes,No,Yes,No,No,Yes,One year,93.65,4839.15,No
4799,0,10,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.80,196.75,No
3256,0,61,Yes,No,DSL,Yes,Yes,Yes,Yes,Yes,Yes,One year,84.90,5264.5,No
6750,0,43,No,No phone service,DSL,Yes,No,Yes,No,No,No,One year,35.20,1463.7,No
3611,0,41,Yes,No,Fiber optic,No,Yes,No,Yes,Yes,Yes,Two year,99.65,4220.35,No
2209,0,8,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,19.55,161.15,No
4842,1,9,Yes,Yes,DSL,Yes,No,No,No,No,No,Month-to-month,54.55,494.05,Yes
6281,0,6,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,20.60,116.6,No
4389,0,30,Yes,Yes,Fiber optic,Yes,No,No,No,Yes,Yes,Month-to-month,100.40,2936.25,No
2229,0,4,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,70.50,294.2,No

In [9]:
ds.isnull().sum()

SeniorCitizen       0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [10]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7043 non-null   int64
 1   tenure            7043 non-null   int64
 2   PhoneService      7043 non-null   object
 3   MultipleLines     7043 non-null   object
 4   InternetService   7043 non-null   object
 5   OnlineSecurity    7043 non-null   object
 6   OnlineBackup      7043 non-null   object
 7   DeviceProtection  7043 non-null   object
 8   TechSupport       7043 non-null   object
 9   StreamingTV       7043 non-null   object
 10  StreamingMovies   7043 non-null   object
 11  Contract          7043 non-null   object
 12  MonthlyCharges    7043 non-null   float64
 13  TotalCharges      7043 non-null   object
 14  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(12)
memory usage: 825.5+ KB

In [11]:
ds.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [12]:
ds.columns

Index(['SeniorCitizen', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [13]:
ds['TotalCharges'].values

array(['29.85', '1889.5', '108.15', ..., '346.45', '306.6', '6844.5'],
      dtype=object)

In [14]:
ds['TotalCharges'].nunique()

6531

In [19]:
ds.iloc[488]

SeniorCitizen                      0
tenure                             0
PhoneService                      No
MultipleLines       No phone service
InternetService                  DSL
OnlineSecurity                   Yes
OnlineBackup                      No
DeviceProtection                 Yes
TechSupport                      Yes
StreamingTV                      Yes
StreamingMovies                   No
Contract                    Two year
MonthlyCharges                 52.55
TotalCharges
Churn                             No
Name: 488, dtype: object

In [21]:
ds[pd.to_numeric(ds.TotalCharges,errors='coerce').isnull()].shape

(11, 15)

In [22]:
ds.shape

(7043, 15)

In [23]:
ds1=ds[ds.TotalCharges!=' ']

In [24]:
ds1.shape

(7032, 15)

In [25]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7032 non-null   int64
 1   tenure            7032 non-null   int64
 2   PhoneService      7032 non-null   object
 3   MultipleLines     7032 non-null   object
 4   InternetService   7032 non-null   object
 5   OnlineSecurity    7032 non-null   object
 6   OnlineBackup      7032 non-null   object
 7   DeviceProtection  7032 non-null   object
 8   TechSupport       7032 non-null   object
 9   StreamingTV       7032 non-null   object
 10  StreamingMovies   7032 non-null   object
 11  Contract          7032 non-null   object
 12  MonthlyCharges    7032 non-null   float64
 13  TotalCharges      7032 non-null   object
 14  Churn             7032 non-null   object
dtypes: float64(1), int64(2), object(12)
memory usage: 879.0+ KB

In [26]:
ds1.TotalCharges=pd.to_numeric(ds1.TotalCharges)

C:\Users\CSC\AppData\Local\Temp\ipykernel_15636\797778575.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1.TotalCharges=pd.to_numeric(ds1.TotalCharges)

In [27]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7032 non-null   int64
 1   tenure            7032 non-null   int64
 2   PhoneService      7032 non-null   object
 3   MultipleLines     7032 non-null   object
 4   InternetService   7032 non-null   object
 5   OnlineSecurity    7032 non-null   object
 6   OnlineBackup      7032 non-null   object
 7   DeviceProtection  7032 non-null   object
 8   TechSupport       7032 non-null   object
 9   StreamingTV       7032 non-null   object
 10  StreamingMovies   7032 non-null   object
 11  Contract          7032 non-null   object
 12  MonthlyCharges    7032 non-null   float64
 13  TotalCharges      7032 non-null   float64
 14  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(11)
memory usage: 879.0+ KB

In [28]:
ds['TotalCharges'].values

array(['29.85', '1889.5', '108.15', ..., '346.45', '306.6', '6844.5'],
      dtype=object)

In [29]:
ds1['TotalCharges'].values

array([  29.85, 1889.5 ,  108.15, ...,  346.45,  306.6 , 6844.5 ])

In [30]:
ds1.columns

Index(['SeniorCitizen', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [31]:
ds1['SeniorCitizen'].unique()

array([0, 1], dtype=int64)

In [32]:
ds1['tenure'].unique()

array([ 1, 34,  2, 45,  8, 22, 10, 28, 62, 13, 16, 58, 49, 25, 69, 52, 71,
       21, 12, 30, 47, 72, 17, 27,  5, 46, 11, 70, 63, 43, 15, 60, 18, 66,
        9,  3, 31, 50, 64, 56,  7, 42, 35, 48, 29, 65, 38, 68, 32, 55, 37,
       36, 41,  6,  4, 33, 67, 23, 57, 61, 14, 20, 53, 40, 59, 24, 44, 19,
       54, 51, 26, 39], dtype=int64)

In [33]:
ds1['PhoneService'].unique()

array(['No', 'Yes'], dtype=object)

In [34]:
ds1['MultipleLines'].unique()

array(['No phone service', 'No', 'Yes'], dtype=object)

In [35]:
ds1['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [36]:
ds1['OnlineSecurity'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [37]:
ds1['OnlineBackup'].unique()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [38]:
ds1['DeviceProtection'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [39]:
ds1['TechSupport'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [40]:
ds1['StreamingTV'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [41]:
ds1['StreamingMovies'].unique()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [42]:
ds1['Contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [43]:
ds1['MonthlyCharges'].unique()

array([29.85, 56.95, 53.85, ..., 63.1 , 44.2 , 78.7 ])

In [44]:
ds1['TotalCharges'].unique()

array([  29.85, 1889.5 ,  108.15, ...,  346.45,  306.6 , 6844.5 ])

In [45]:
ds1['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [46]:
ds1['MultipleLines'].unique()

array(['No phone service', 'No', 'Yes'], dtype=object)

In [47]:
ds1.replace('No phone service','No',inplace=True)

C:\Users\CSC\AppData\Local\Temp\ipykernel_15636\3044055027.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1.replace('No phone service','No',inplace=True)

In [48]:
ds1['MultipleLines'].unique()

array(['No', 'Yes'], dtype=object)

In [49]:
ds1.sample(5)

,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
5222,0,8,Yes,Yes,DSL,Yes,Yes,Yes,No,No,No,Month-to-month,65.50,573.15,No
6280,0,23,Yes,No,DSL,No,No,No,Yes,No,No,One year,49.45,1119.35,No
4049,1,46,Yes,Yes,Fiber optic,No,No,No,Yes,Yes,Yes,One year,100.25,4753.85,No
6133,0,2,No,No,DSL,No,No,No,No,No,No,Month-to-month,24.90,49.70,No
3522,0,37,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,19.80,677.05,No

In [50]:
ds1.replace('No internet service','No',inplace=True)

C:\Users\CSC\AppData\Local\Temp\ipykernel_15636\2956710029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1.replace('No internet service','No',inplace=True)

In [51]:
ds1.head()

,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,0,1,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,0,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,0,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,0,45,No,No,DSL,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,0,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [52]:
data_yes_no=['PhoneService','MultipleLines','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Churn']

In [53]:
for i in data_yes_no:
    ds1[i].replace({'Yes':1,'No':0},inplace=True)

C:\Users\CSC\AppData\Local\Temp\ipykernel_15636\3007989420.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1[i].replace({'Yes':1,'No':0},inplace=True)

In [54]:
ds1.head()

,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,0,1,0,0,DSL,0,1,0,0,0,0,Month-to-month,29.85,29.85,0
1,0,34,1,0,DSL,1,0,1,0,0,0,One year,56.95,1889.50,0
2,0,2,1,0,DSL,1,1,0,0,0,0,Month-to-month,53.85,108.15,1
3,0,45,0,0,DSL,1,0,1,1,0,0,One year,42.30,1840.75,0
4,0,2,1,0,Fiber optic,0,0,0,0,0,0,Month-to-month,70.70,151.65,1

In [55]:
ds1['InternetService']=ds1['InternetService'].astype('category')
ds1['InternetService']=ds1['InternetService'].cat.codes

C:\Users\CSC\AppData\Local\Temp\ipykernel_15636\1348478363.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['InternetService']=ds1['InternetService'].astype('category')
C:\Users\CSC\AppData\Local\Temp\ipykernel_15636\1348478363.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['InternetService']=ds1['InternetService'].cat.codes

In [56]:
ds1['Contract']=ds1['Contract'].astype('category')
ds1['Contract']=ds1['Contract'].cat.codes

C:\Users\CSC\AppData\Local\Temp\ipykernel_15636\2806050445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['Contract']=ds1['Contract'].astype('category')
C:\Users\CSC\AppData\Local\Temp\ipykernel_15636\2806050445.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds1['Contract']=ds1['Contract'].cat.codes

In [57]:
ds1.head()

,SeniorCitizen,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,0,1,0,0,0,0,1,0,0,0,0,0,29.85,29.85,0
1,0,34,1,0,0,1,0,1,0,0,0,1,56.95,1889.50,0
2,0,2,1,0,0,1,1,0,0,0,0,0,53.85,108.15,1
3,0,45,0,0,0,1,0,1,1,0,0,1,42.30,1840.75,0
4,0,2,1,0,1,0,0,0,0,0,0,0,70.70,151.65,1

In [58]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7032 non-null   int64
 1   tenure            7032 non-null   int64
 2   PhoneService      7032 non-null   int64
 3   MultipleLines     7032 non-null   int64
 4   InternetService   7032 non-null   int8
 5   OnlineSecurity    7032 non-null   int64
 6   OnlineBackup      7032 non-null   int64
 7   DeviceProtection  7032 non-null   int64
 8   TechSupport       7032 non-null   int64
 9   StreamingTV       7032 non-null   int64
 10  StreamingMovies   7032 non-null   int64
 11  Contract          7032 non-null   int8
 12  MonthlyCharges    7032 non-null   float64
 13  TotalCharges      7032 non-null   float64
 14  Churn             7032 non-null   int64
dtypes: float64(2), int64(11), int8(2)
memory usage: 782.9 KB

In [59]:
ds1.columns

Index(['SeniorCitizen', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [60]:
x=ds1[['SeniorCitizen', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'MonthlyCharges', 'TotalCharges']]
y=ds1[['Churn']]

In [61]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [62]:
import tensorflow as tf
from tensorflow import keras

WARNING:tensorflow:From C:\Users\CSC\anaconda4\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [63]:
model=keras.Sequential([
    keras.layers.Dense(1,input_shape=(14,),activation='sigmoid')
])

model.compile(optimizer='adam',
             loss='binary_crossentropy',
             metrics=['accuracy'])
model.fit(x_train,y_train,epochs=5)

WARNING:tensorflow:From C:\Users\CSC\anaconda4\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\CSC\anaconda4\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Epoch 1/5
WARNING:tensorflow:From C:\Users\CSC\anaconda4\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\CSC\anaconda4\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

176/176 [==============================] - 2s 3ms/step - loss: 413.1588 - accuracy: 0.2638
Epoch 2/5
176/176 [==============================] - 0s 3ms/step - loss: 91.7206 - accuracy: 0.4082
Epoch 3/5
176/176 [==============================] - 0s 3ms/step - loss: 1.3224 - accuracy: 0.7204
Epoch 4/5
176/176 [==============================] - 0s 3ms/step - loss: 0.8914 - accuracy: 0.7483
Epoch 5/5
176/176 [==============================] - 0s 3ms/step - loss: 0.6497 - accuracy: 0.7676

In [64]:
model.evaluate(x_test,y_test)

44/44 [==============================] - 0s 3ms/step - loss: 0.5976 - accuracy: 0.7768

[0.5976396203041077, 0.7768301367759705]

In [65]:
y_predicted=model.predict(x_test)
y_predicted[0]

44/44 [==============================] - 0s 2ms/step

array([0.8719151], dtype=float32)

In [77]:
y_pred=[]
for i in y_predicted:
    if i<=0.5:
        y_pred.append(0)
    else:
        y_pred.append(1)

In [79]:
y_pred[:10]

[1, 0, 0, 0, 1, 0, 0, 0, 1, 0]

              precision    recall  f1-score   support

           0       0.83      0.87      0.85      1022
           1       0.61      0.52      0.56       385

    accuracy                           0.78      1407
   macro avg       0.72      0.70      0.70      1407
weighted avg       0.77      0.78      0.77      1407

              precision    recall  f1-score   support

           0       0.73      1.00      0.84      1022
           1       0.00      0.00      0.00       385

    accuracy                           0.73      1407
   macro avg       0.36      0.50      0.42      1407
weighted avg       0.53      0.73      0.61      1407

C:\Users\CSC\anaconda4\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\CSC\anaconda4\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\CSC\anaconda4\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))